$color-snapcar: #9c1418;
$color-white: rgba(255, 255, 255, 1);
$color-available: #008000;
$color-break: #000;
$color-error: #f00;
$color-gtg: #071eec;
$color-onboard: #079dec;
$color-chat-driver: #dde8fa;
$color-chat-snapcar: #efefef;
$color-chat-unread-driver: #ffb246;
$color-chat-unread-snapcar: #079dec;
$color-additional-info: #ffb246;
$color-fake-partner: #efefef;
$color-eta-created: rgba(216, 216, 216, 1);
$color-eta-ok: rgba(73, 196, 34, .5);
$color-eta-warn: rgba(255, 178, 70, .5);
$color-eta-error: rgba(255, 0, 0, .8);
$color-eta-delay: rgba(255, 90, 150, .8);
$color-booking-cancelled: rgba(255, 0, 0, .2);
$color-selected-driver: rgba(98, 0, 255, .2);
