.text-color-available {
  color: $color-available;
}

.text-color-break {
  color: $color-break;
}

.text-color-error {
  color: $color-error;
}

.text-color-gtg {
  color: $color-gtg;
}

.text-color-onboard {
  color: $color-onboard;
}
